* {
	font-family: Helvetica, sans-serif;
}

body {
	margin: 0;
	background: #1e1e1e;
	color: #d4d4d4;
}

a {
	color: #74affc;
}

a:hover {
	color: #685aad;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	flex-direction: row;
}

header {
	background-color: #252526;
}

header h1 {
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

nav {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

nav a {
	text-decoration: none;
	padding: 0.5em 0.75em 0.35em 0.75em;
	background-color: #252526;
	color: #d4d4d4;
}

nav a:hover {
	background-color: #1e1e1e;
}

nav a.active {
	background-color: #1e1e1e;
}
